{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}
{% include "includes/navbar.jinja" %}

{% block link %}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock link %}

{% block style %}
<style>
    .dt-buttons {
        clear: both;
    }

    .dt-action a {
        color: inherit;
        text-decoration: none;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-xxl">
    {% include "includes/flash_success.jinja" %}
    {% include "includes/flash_error.jinja" %}
    <div class="row p-2">
        <div class="col">
            <table id="schedule-list" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>ETA Type</th>
                        <th>Layout</th>
                        <th>Schedule</th>
                        <th>Next Execution</th>
                        <th>Is Partial</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="{{ url_for('static', filename='scripts/datatable.js') }}"></script>

<script>
    let datatable = $('#schedule-list').DataTable({
        ajax: {
            url: "{{ url_for('api_schedule.get') }}",
            dataSrc: "data.schedules"
        },
        'columnDefs': [
            {
                "targets": 5,
                "className": "text-center",
                {# "width": "4%" #}
            }
        ],
        columns: [
            {
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                }
            },
            { data: 'eta_type' },
            { data: 'layout' },
            { data: 'schedule' },
            {
                data: 'future_executions',
                render: function (data, type, row, meta) {
                    if (data.length <= 0) {
                        return 'No data'
                    }
                    return data[0].replace('T', ' ')
                }
            },
            {
                data: 'is_partial',
                render: function (data, type, row, meta) {
                    return data ? '<i class="bi bi-check2"></i>' : '<i class="bi bi-x"></i>'
                }
            },
            {
                render: function (data, type, row, meta) {
                    return `
                        <button type="button" class="dt-action btn btn-danger btn-sm"
                            data-href-method="DELETE"
                            data-href=${"{{ url_for('api_schedule.delete', id='p1') }}".replace("p1", row.id)}
                            title={{ _("Delete") }}>
                            <i class="bi bi-trash"></i>
                        </button>
                        <button type="button" class="dt-action btn btn-success btn-sm"
                            data-href-method=""
                            data-href=${"{{ url_for('schedule.edit', id='p1') }}".replace("p1", row.id)}
                            title={{ _("Edit") }}>
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    `;
                }
            }
        ],
        dom: `<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>
                <'row'<'col-sm-12'tr>>
                <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>`,
        buttons: [
            {
                text: '新增',
                className: "btn btn-success",
                action: function (e, dt, node, config) {
                    window.location.href = "{{ url_for('schedule.create') }}";
                }
            }
        ]
    });
</script>
{% endblock script %}