{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}
{% include "includes/navbar.jinja" %}

{% block link %}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">
{% endblock link %}

{% block style %}
<style>
    #schedule-list_filter label {
        /* search field right align */
        float: right;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-xxl">

    <div class="row m-2">
        {% include "includes/flash_success.jinja" %}
        {% include "includes/flash_error.jinja" %}
    </div>

    <form id="file-import-form" method="POST" action="{{ url_for('schedule.import_') }}" enctype="multipart/form-data" style="display: none;">
        <input type="file" name="schedules">
    </form>

    <div class="row p-2">
        <div class="col">
            <table id="schedule-list" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th class="not-mobile">{{ _('no.') }}</th>
                        <th>{{ _('eta_type') }}</th>
                        <th>{{ _('layout') }}</th>
                        <th>{{ _('schedule') }}</th>
                        <th class="not-mobile">{{ _('next_execution') }}</th>
                        <th class="not-mobile">{{ _('is_partial') }}</th>
                        <th class="not-mobile">{{ _('action') }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>

<script src="{{ url_for('static', filename='scripts/datatable.js') }}"></script>
<script>
    let datatable = $('#schedule-list').DataTable({
        responsive: true,
        ajax: {
            url: "{{ url_for('api_schedule.get_all') }}",
            dataSrc: "data.schedules"
        },
        'columnDefs': [
            {
                "targets": 5,
                "className": "text-sm-center",
            }
        ],
        columns: [
            {
                data: null,
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                }
            },
            { data: 'eta_type' },
            { data: 'layout' },
            { data: 'schedule' },
            {
                data: 'future_executions',
                render: function (data, type, row, meta) {
                    if (data.length <= 0) {
                        return "{{ _('not_enabled') }}"
                    }
                    return data[0].replace('T', ' ')
                }
            },
            {
                data: 'is_partial',
                render: function (data, type, row, meta) {
                    return data ? '<i class="bi bi-check2"></i>' : '<i class="bi bi-x"></i>'
                }
            },
            {
                data: null,
                render: function (data, type, row, meta) {
                    return `
                        <button type="button" class="dt-action btn btn-danger btn-sm"
                            data-href-method="DELETE"
                            data-href=${"{{ url_for('api_schedule.delete', id='p1') }}".replace("p1", row.id)}
                            title={{ _("delete") }}>
                            <i class="bi bi-trash"></i>
                        </button>
                        <button type="button" class="dt-action btn btn-success btn-sm"
                            data-href-method=""
                            data-href=${"{{ url_for('schedule.edit', id='p1') }}".replace("p1", row.id)}
                            title={{ _("edit") }}>
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="dt-action btn btn-outline btn-sm btn-outline-warning"
                            data-href-method="GET"
                            data-href="{{ url_for('api_display.refresh') }}?${$.param({ eta_type: row.eta_type, layout: row.layout, is_partial: row.is_partial })}"
                            data-busy-load="true"
                            data-200-reload="false"
                            title={{ _('refresh_now') }}>
                            <i class="bi bi-arrow-clockwise"></i>
                        </button>
                    `;
                }
            }
        ],
        dom: `<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>
                <'row'<'col-sm-12'tr>>
                <'row'<'col-12'p>>`,
        buttons: [
            {
                text: "{{ _('create') }}",
                className: "btn btn-sm btn-success mx-1",
                action: function (e, dt, node, config) {
                    window.location.href = "{{ url_for('schedule.create') }}";
                }
            },
            {
                text: "{{ _('export') }}",
                className: "btn btn-sm btn-info mx-1",
                action: function (e, dt, node, config) {
                    window.location.assign("{{ url_for('schedule.export') }}")
                }
            },
            {
                text: "{{ _('import') }}",
                className: "btn btn-sm btn-secondary mx-1",
                action: function (e, dt, node, config) {
                    $('#file-import-form input')
                        .click()
                        .change(function (e) {
                            $('#file-import-form').submit()
                            {# let form = $('#file-import-form')
                            var formData = new FormData(form[0])

                            $.ajax({
                                url: form.attr('action'),
                                method: "POST",
                                processData: false,
                                contentType: false,
                                data: formData,
                                success: function (res) {
                                    alertify.success(res.message)
                                }
                            }) #}
                        })

                }
            },
        ]
    });
</script>
{% endblock script %}