{% extends "layout.jinja" %}

{% include "includes/navbar.jinja" %}

{% block style %}
<style>
    .form-group {
        margin: 15px 0px;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <div class="row align-items-center" style="height: 100vh;">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <form class="form-example" action="" method="post">
                {{ form.hidden_tag() }}

                <h1>HKETA API Server Setting</h1>
                <p class="description">
                    Update the API server details here.
                </p>

                {% include "includes/flash_danger_ul.jinja" %}
                {# https://stackoverflow.com/questions/6463035/wtforms-getting-the-errors #}
                
                <div class="form-group">
                    {{ form.url.label }}
                    {{ form.url(class="form-control", placeholder="https://...", value=api_url or "") }}
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control", value=api_username or "") }}
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control", value=api_password or "") }}
                </div>

                {{ form.submit(class="btn btn-primary btn-customized mt-4") }}
            </form>
        </div>
    </div>
</div>
{% endblock %}