{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}
{% include "includes/navbar.jinja" %}

{% block link %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
{% endblock link %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block content %}
<div class="row align-items-center" style="height: 100vh;">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form class="form" action="{{ form_action }}" method="{{ 'put' if editing else 'post' }}" autocomplete="off">

            <h1>{{ _('new_bookmark') }}</h1>
            <small class="form-text text-mute">
                {{ _('new_bookmark_help') | safe }}
            </small>

            {% include "includes/flash_success.jinja" %}
            {% include "includes/flash_error.jinja" %}

            <div class="form-group">
                <label for="lang" class="form-label">{{ _('language') }}</label>
                <select class="form-select" name="lang">
                    {% for lang in langs %}
                    {% if form.lang == lang[0] %}
                    <option value="{{ lang[0] }}" selected>
                        {{ lang[1] }}
                    </option>
                    {% else %}
                    <option value="{{ lang[0] }}">
                        {{ lang[1] }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <hr class="mt-4 mb-3">

            <div class="form-group">
                <label for="company" class="form-label">{{ _('company') }}</label>
                <select class="form-select" name="company">
                    <option value="" selected>-----</option>
                    {% for company in companys %}
                    {% if form.company == company[0] %}
                    <option value="{{ company[0] }}" selected>
                        {{ company[1] }}
                    </option>
                    {% else %}
                    <option value="{{ company[0] }}">
                        {{ company[1] }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group autocomplete">
                <label for="route" class="form-label">{{ _('route') }}</label>
                <input type="text" class="form-control" name="route" value="{{ form.route }}" required>

            </div>

            <div class="form-group">
                <label for="direction" class="form-label">{{ _('direction') }}</label>
                <select class="form-select" name="direction">
                    <option value="" selected>-----</option>
                    {% for direction in directions %}
                    {% if form.direction == direction[0] %}
                    <option value="{{ direction[0] }}" selected>
                        {{ direction[1] }}
                    </option>
                    {% else %}
                    <option value="{{ direction[0] }}">
                        {{ direction[1] }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="service_type" class="form-label">{{ _('service_type') }}</label>
                <select class="form-select" name="service_type">
                    <option value="" selected>-----</option>
                    {% for service_type in service_types %}
                    {% if form.service_type == service_type[0] %}
                    <option value="{{ service_type[0] }}" selected>
                        {{ service_type[1] }}
                    </option>
                    {% else %}
                    <option value="{{ service_type[0] }}">
                        {{ service_type[1] }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="stop_code" class="form-label">{{ _('stop') }}</label>
                <select class="form-select" name="stop_code">
                    <option value="" selected>-----</option>
                    {% for stop in stops %}
                    {% if form.stop == stop[0] %}
                    <option value="{{ stop[0] }}" selected>
                        {{ stop[1] }}
                    </option>
                    {% else %}
                    <option value="{{ stop[0] }}">
                        {{ stop[1] }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <input class="btn btn-primary btn-customized mt-4" id="submit" name="submit" type="submit"
                value="{{ _('submit') }}">

        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="http://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='scripts/jquery.ui.autocomplete.scroll.js') }}"></script>
<script>

    function clearSelect(dom) {
        dom.find('option').remove().end()
        dom.append(new Option("-----", ""))
    }

    function getParams() {
        return {
            lang: $('select[name=lang] option:selected').val(),
            company: $('select[name=company] option:selected').val(),
            route: $('input[name=route]').val(),
            direction: $('select[name=direction] option:selected').val(),
            service_type: $('select[name=service_type] option:selected').val(),
        }
    }

    $(document).ready(function () {
        {% if not editing %}
        $("form")[0].reset()
        clearSelect($("select[name=direction]"))
        clearSelect($("select[name=service_type]"))
        {% endif %}

        // Browsers may cache the result of "company select"
        // Trigger "change" to initialisation the autocomplete
        if ($('select[name=company] option:selected').val())
            $('select[name=company]').trigger('change')

        autoJsonFrom($('form'), {
            success: function (res) {
                if (res.success) {
                    window.location.href = "{{ url_for('configuration.bookmark_list') }}"
                } else {
                    alertify.error(res.message)
                }
            }
        })

        $.ajaxSetup({
            beforeSend: () => showLoading(),
            complete: () => hideLoading(),
            error: function (xhr, status, error) {
                let json = JSON.parse(xhr.responseText)
                alertify.error(json.message)
            }
        })
    })

    // autocomplete for route name
    $('select[name=company]').on('change', function (event) {
        // https://stackoverflow.com/questions/7617373/limit-results-in-jquery-ui-autocomplete
        query = {...getParams(), type: "route"}

        $.ajax({
            type: "GET",
            url: `{{ url_for("api_config.bookmark_search", stype="route") }}?${$.param(query)}`,
            success: function (res) {
                $("input[name=route]").autocomplete({
                    maxShowItems: 6,
                    autoFocus: true,
                    source: res.data.routes.map((el) => el[0]),
                });
            },
        })
    });

    // direction option updates
    $("input[name=route]").on("autocompleteselect", function (event, ui) {
        query = {...getParams(), 'route': ui.item.value, type: "direction",}

        $.get(`{{ url_for("api_config.bookmark_search", stype="direction") }}?${$.param(query)}`)
            .then(function (res) {
                clearSelect(select = $("select[name=direction]"))
                clearSelect($("select[name=service_type]"))
                clearSelect($("select[name=stop]"))

                res.data.directions.forEach(
                    (el) => select.append(new Option(el[1], el[0])))
            })
    });

    // autocomplete for service type
    $('select[name=direction]').on('change', function (event) {
        query = {...getParams(), type: "service_type"}

        $.get(`{{ url_for("api_config.bookmark_search", stype="service_type") }}?${$.param(query)}`)
            .then(function (res) {
                clearSelect(select = $("select[name=service_type]"))
                clearSelect($("select[name=stop]"))

                res.data.service_types.forEach(
                    (el) => select.append(new Option(el[1], el[0])))
            })
    });

    // stop option updates
    $("select[name=service_type]").on("change", function (event) {
        query = {...getParams(), type: "stop"}

        $.ajax({
            type: "GET",
            url: `{{ url_for("api_config.bookmark_search", stype="stop") }}?${$.param(query)}`,
            success: function (res) {
                select = $("select[name=stop_code]")
                clearSelect(select)
                res.data.stops.forEach(
                    (el) => select.append(new Option(el[1], el[0])))
            },
            error: function (xhr, ajaxOptions, errorThrown) {
                alertify.error($.parseJSON(xhr.responseText).message)
            }
        })
    });

</script>
{% endblock script %}