{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}
{% include "includes/navbar.jinja" %}

{% block style %}
<style>
    .select-box {
        border-radius: 5px;
        border: var(--bs-border-width) solid var(--bs-border-color);
        padding: 20px;
        height: 400px;
    }
</style>
{% endblock style %}

{% block content %}
<div class="row align-items-center" style="height: 100vh;">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form class="form" action="{{ form_action }}" method="post" autocomplete="off">
            {{ form.hidden_tag() }}

            <h1>Display Setting</h1>
            <p class="description">
            </p>

            {% include "includes/flash_success.jinja" %}
            {% include "includes/flash_error.jinja" %}

            {{ render_field(form.brand) }}
            {{ render_field(form.model) }}

            <div class="form-group">
                {{ form.layout.label }}
                <div class="overflow-auto select-box" id="layout-input">
                </div>
            </div>
            {{ form.layout() }}

            {{ form.submit(class="btn btn-primary btn-customized mt-4") }}
        </form>
    </div>
</div>

{% endblock content %}

{% block script %}
<script>
    $("select[name=brand]").change(function (e) {
        const BRAND = $("select[name=brand]").children("option:selected").val()
        $("select[name=model]").find('option').not(':first').remove()

        if (!BRAND) return
        $.get(`{{ url_for("api_display.get_models") }}?${$.param({ brand: BRAND })}`, function (res) {
            if (res.success) {
                res.data.models.forEach(function (e) {
                    $("select[name=model]").append(new Option(e, e))
                })
            } else {

            }
        })
    })

    $("select[name=model]").change(function (e) {
        const BRAND = $("select[name=brand]").children("option:selected").val()
        const MODEL = $("select[name=model]").children("option:selected").val()
        $("#layout-input").html("")

        if (!BRAND || !MODEL) return

        $.get(`{{ url_for("api_display.get_layouts") }}?${$.param({ brand: BRAND, model: MODEL })}`,
            function (res) {
                if (res.success) {
                    for (const [key, value] of Object.entries(res.data.layouts)) {
                        value.forEach(function (e) {
                            $("#layout-input").append(`
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <input name="style" type="radio">
                                            <label>${e.name}</label>
                                        </h5>
                                        <p class="card-text">
                                            <strong style="display: inline-block; width: 50px;">Type:</strong>
                                            <span class="card-text-descr">${key}</span>
                                        </p>
                                        <hr>
                                        <p class="card-text">
                                            ${e.description.en}
                                        </p>
                                        <p class="card-text">
                                            ${e.description.zh_Hant_HK}
                                        </p>
                                    </div>
                                </div>
                            `)
                        })
                    }
                } else {

                }
            })
    })
</script>
{% endblock script %}