{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}
{% include "includes/navbar.jinja" %}

{% block link %}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock link %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block content %}
<div class="container-xxl">
    <div class="row m-5">
        <div class="col">
            <table id="eta-list" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Order</th>
                        <th>Company</th>
                        <th>Route</th>
                        <th>Direction</th>
                        <th>Service Type</th>
                        <th>Stop</th>
                        <th>Language</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eta in etas %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td class="{{'eta-'~eta.company}}">{{ eta.company }}</td>
                        <td>{{ eta.name }}</td>
                        <td>{{ eta.direction }}</td>
                        <td>{{ eta.service_type }}</td>
                        <td>{{ eta.stop }}</td>
                        <td>{{ eta.lang }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script>
    new DataTable('#eta-list');
</script>
{% endblock script %}