{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}
{% include "includes/navbar.jinja" %}

{% block link %}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{#
<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css"> #}
{% endblock link %}

{% block style %}
<style>
    .dt-buttons {
        clear: both;
    }

    .dt-action a {
        color: inherit;
        text-decoration: none;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-xxl">
    {% include "includes/flash_success.jinja" %}
    {% include "includes/flash_error.jinja" %}
    <div class="row p-2">
        <div class="col">
            <table id="eta-list" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Company</th>
                        <th>Route</th>
                        <th>Direction</th>
                        <th>Service Type</th>
                        <th>Stop</th>
                        <th>Language</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script>
    let datatable = $('#eta-list').DataTable({
        ajax: {
            url: "{{ url_for('api.get_etas') }}",
            dataSrc: "data.etas"
        },
        columns: [
            {
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                }
            },
            { data: 'company' },
            { data: 'route' },
            { data: 'direction' },
            { data: 'service_type' },
            { data: 'stop_name' },
            { data: 'lang' },
            {
                render: function (data, type, row, meta) {
                    const up = meta.row > 0 ?
                        `
                            <button type="button" class="dt-action btn btn-outline-dark btn-sm h-100"
                                data-href-method="PUT"
                                data-href={{ url_for('api.eta_swap') }}
                                data-href-payload='{"source":"${meta.settings.json.data.etas[meta.row - 1].id}","destination": "${row.id}"}'
                                style="height: 100%;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
                                    <path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
                                </svg>
                            </button>
                        ` : ""
                    const down = meta.settings.json.data.etas.length != meta.row + 1 ? `
                        <button type="button" class="dt-action btn btn-outline-dark btn-sm"
                            data-href-method="PIT"
                            data-href={{ url_for('api.eta_swap') }}
                            data-href-payload='{"source":"${row.id}","destination":"${meta.settings.json.data.etas[meta.row + 1].id}"}'
                            style="height: 100%;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                            </svg>
                        </button>
                    ` : ""

                    return `
                        <button type="button" class="dt-action btn btn-danger btn-sm"
                            data-href-method="DELETE"
                            data-href=${"{{ url_for('api.delete_eta', id='p1') }}".replace("p1", row.id)}>
                            {{ _("Delete") }}
                        </button>
                        <button type="button" class="dt-action btn btn-success btn-sm"
                            data-href-method=""
                            data-href=${"{{ url_for('configuration.eta_edit', id='p1') }}".replace("p1", row.id)}>
                            {{ _("Edit") }}
                        </button>
                    `.concat(up, down);
                }
            }
        ],
        dom: `<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>
                <'row'<'col-sm-12'tr>>
                <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>`,
        buttons: [
            {
                text: '新增',
                className: "btn btn-success",
                action: function (e, dt, node, config) {
                    window.location.href = "{{ url_for('configuration.eta_create') }}";
                }
            }
        ]
    });

    $(document).on("click", "button.dt-action", function (event) {
        if ($(this).data('href')) {
            if ($(this).data('href-method') === "") {
                window.location.href = $(this).data('href')
            }

            $.ajax({
                method: $(this).data('href-method'),
                url: $(this).data('href'),
                data: $.parseJSON($(this).data('href-payload')),
                success: function (res) {
                    alertify.success(res.message)
                    datatable.ajax.reload()
                },
                error: function (xhr, status, error) {
                    alertify.error("Failed to delete.")
                }
            })
        }
    })
</script>
{% endblock script %}