{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}
{% block title %}{{ _('nav_bookmark') }}{% endblock title %}

{% block nav %}
{% include "includes/navbar.jinja" %}
{% endblock nav %}

{% block style %}
<style>
    tr>*:nth-child(1),
    tr>*:nth-child(2),
    tr>*:nth-child(7) {
        display: none;
    }

    @media (min-width: 576px) {

        tr>*:nth-child(1),
        tr>*:nth-child(2),
        tr>*:nth-child(7) {
            display: table-cell;
        }
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-xxl">
    <div class="row m-2">
        {% include "includes/flash_success.jinja" %}
        {% include "includes/flash_error.jinja" %}
    </div>

    <div class="row">
        <div class="col-12">
            <div class="btn-group flex-wrap">
                <a href="{{ url_for('bookmark.create') }}" class="btn btn-secondary btn-sm btn-success mx-1">
                    {{ _('create') }}
                </a>

                <div x-data>
                    <form method="POST" action="{{ url_for('bookmark.import_') }}" enctype="multipart/form-data">
                        <input type="file" name="bookmarks" class="d-none" @upload.window="$el.click()"
                            @change="$event.target.form.submit()">
                        <button type="button" class="btn btn-secondary btn-sm btn-info mx-1"
                            @click="$dispatch('upload')">
                            {{ _('import') }}
                        </button>
                    </form>
                </div>
                <a href="{{ url_for('bookmark.export') }}" class="btn btn-secondary btn-sm mx-1">
                    {{ _('export') }}
                </a>
            </div>
        </div>
    </div>

    <div id="errors">
    </div>

    <div class="row p-2">
        <div class="col">
            <form>
                <div class="table-responsive">
                    <table class="table table-striped" hx-get="" hx-trigger="load"
                        hx-target="tbody" hx-on::after-request="makeSortable()" style="min-width: 400px;">
                        <thead>
                            <tr>
                                <th>{{ _('no.') }}</th>
                                <th>{{ _('transport') }}</th>
                                <th>{{ _('route') }}</th>
                                <th>{{ _('direction') }}</th>
                                <th>{{ _('service_type') }}</th>
                                <th>{{ _('stop') }}</th>
                                <th>{{ _('language') }}</th>
                                <th style="min-width: 90px;">{{ _('action') }}</th>
                            </tr>
                        </thead>
                        <tbody hx-put="{{ url_for('bookmark.reorder') }}" hx-trigger="end" hx-include="closest form">
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

<script>
    function makeSortable() {
        if (document.querySelectorAll("tbody input").length <= 1)
            return
        const sortable = Sortable.create(document.getElementsByTagName("tbody")[0],
            {
                items: 'tr',
                onEnd: function (event) {
                    Array
                        .from(document.querySelectorAll("tbody tr"))
                        .map((item, i) => item.dataset.id)
                },
            });
    }
</script>
{% endblock script %}