{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}

{% block nav %}
{% include "includes/navbar.jinja" %}
{% endblock nav %}

{% block content %}
<div class="row align-items-center" style="height: 100vh;">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form action="{{ url_for('api_config.update') }}" method="post">

            <h1>{{ _('api_server_setting') }}</h1>
            <small class="form-text text-mute">
                {{ _('api_server_setting_help') }}
            </small>

            <div class="form-group">
                <label for="username" class="form-label">{{ _('api_server_username') }}</label>
                <input type="text" class="form-control" name="username">
            </div>

            <div class="form-group">
                <label for="password" class="form-label">{{ _('api_server_password') }}</label>
                <input type="text" class="form-control" name="password">
            </div>

            <input class="btn btn-primary btn-customized mt-4" id="submit" name="submit" type="submit" value="{{ _('submit') }}">
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        autoJsonFrom($('form'))
    })
</script>
{% endblock script %}