{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}

{% block style %}
<style>
    .select-box {
        border-radius: 5px;
        border: var(--bs-border-width) solid var(--bs-border-color);
        padding: 20px;
        height: 400px;
    }
</style>
{% endblock style %}

{% block nav %}
{% include "includes/navbar.jinja" %}
{% endblock nav %}

{% block content %}
<div class="row align-items-center" style="height: 100vh;">
    <form id="config-form" action="{{ url_for('api_config.update') }}" method="post" autocomplete="off">
        <div class="col-10 col-md-8 col-lg-8 mx-auto my-3">
            <h1>{{ _('app_configuration') }}</h1>

            {% include "includes/flash_success.jinja" %}
            {% include "includes/flash_error.jinja" %}

            <div class="mt-5 mb-2">
                <h5>{{ _('display_setting') }}</h5>
                <small class="form-text text-mute">
                    {{ _('display_setting_help') | safe }}
                </small>
            </div>
            <hr>

            <div class="form-group">
                <label for="layout" class="form-label">{{ _('brand') }}</label>
                <select class="form-select" name="epd_brand" required>
                    <option value="" selected>-----</option>
                    {% for brand in brands %}
                    {% if app_conf.epd_brand == brand %}
                    <option value="{{ brand }}" selected>
                        {{ brand | title }}
                    </option>
                    {% else %}
                    <option value="{{ brand }}">
                        {{ brand | title }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="layout" class="form-label">{{ _('model') }}</label>
                <select class="form-select" name="epd_model">
                    <option selected>-----</option>
                    {% for model in models %}
                    {% if app_conf.epd_model == model %}
                    <option value="{{ model }}" selected>
                        {{ model | title }}
                    </option>
                    {% else %}
                    <option value="{{ model }}">
                        {{ model | title }}
                    </option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="row mt-4">
                <div class="col-6">
                    <input class="btn btn-primary btn-customized" id="submit" name="submit" type="submit"
                        value="{{ _('submit') }}">
                </div>
                <div class="col-6 text-end">
                    <a href="{{ url_for('configuration.export') }}" class="btn btn-info mx-1">
                        {{ _('export') }}
                    </a>
                    <button type="button" class="btn btn-secondary mx-1"
                        onclick="$('#file-import-form input').click().change((e) => $('#file-import-form').submit())"
                    >
                        {{ _('import') }}
                    </button>
                </div>
            </div>
        </div>
    </form>

    <form id="file-import-form" method="POST" action="{{ url_for('configuration.import_') }}"
        enctype="multipart/form-data" style="display: none;">
        <input type="file" name="configurations">
    </form>
</div>

{% endblock content %}

{% block script %}
<script>
    $(document).ready(function () {
        autoJsonFrom($('#config-form'))
    })


    $("select[name=epd_brand]").change(function (e) {
        const BRAND = $("select[name=epd_brand]").children("option:selected").val()
        $("select[name=model]").find('option').not(':first').remove()

        if (!BRAND) return
        $.get(`{{ url_for("api_display.get_models") }}?${$.param({ epd_brand: BRAND })}`, function (res) {
            if (res.success) {
                res.data.models.forEach(function (e) {
                    $("select[name=epd_model]").append(new Option(e, e))
                })
            } else {

            }
        })
    })
</script>
{% endblock script %}