{% for name, layout in layouts.items() %}
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title" style="line-height: unset;">
            <div class="form-check">
                <label class="form-check-label">
                    {{ name }}
                    <input class="form-check-input" type="radio" name="layout" value="{{ name }}"
                        x-model="layout.{{ eta_format }}" required>
                </label>

                <div class="float-end">
                    <button type="button" class="btn btn-sm btn-outline-success preview-btn" data-bs-toggle="modal"
                        data-bs-target="#preview-md"
                        hx-get="{{ url_for('schedule.preview', eta_format=eta_format, layout=name) }}"
                        hx-target="#preview-md #outter-preview" hx-indicator=".hx-indicator" hx-on::before-request="document.getElementById('outter-preview').innerHTML = ''">
                        {{ _('layout_preview') }}
                    </button>
                </div>
            </div>
        </h5>

        <hr>

        <p class="card-text">
            {{ layout["description"]["en"] }}
        </p>
        <p class="card-text">
            {{ layout["description"]["zh_Hant_HK"] }}
        </p>
    </div>
</div>
{% endfor %}