<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% block link %}{% endblock link %}

    {% block font %}{% endblock font %}

    <script src="https://cdn.jsdelivr.net/npm/autoprefixer@10.4.20/lib/autoprefixer.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            plugins: {
                tailwindcss: {},
                autoprefixer: {},
            }
        }
    </script>

    {% block style %}{% endblock style %}

    {{ "
    <style>
        body {
            background-color: white;
            transform: scale(" ~ (scale or 1) ~");
            transform-origin: 0 0;
        }
    </style>
    " }}
</head>

<html>

<body>
    {% block canva %}{% endblock canva %}
</body>

</html>