{% from "macros/render_field.jinja" import render_field %}

{% extends "layout.jinja" %}

{% block link %}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/responsive/2.5.0/css/responsive.bootstrap5.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/buttons/2.4.2/css/buttons.bootstrap5.min.css">
{% endblock link %}

{% block nav %}
{% include "includes/navbar.jinja" %}
{% endblock nav %}

{% block style %}
<style>
    #eta-list_filter label {
        /* search field right align */
        float: right;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container-xxl">
    <div class="row m-2">
        {% include "includes/flash_success.jinja" %}
        {% include "includes/flash_error.jinja" %}
    </div>

    <form id="file-import-form" method="POST" action="{{ url_for('bookmark.import_') }}" enctype="multipart/form-data" style="display: none;">
        <input type="file" name="bookmarks">
    </form>

    <div class="row p-2">
        <div class="col">
            <table id="eta-list" class="table table-striped">
                <thead>
                    <tr>
                        <th class="not-mobile">{{ _('no.') }}</th>
                        <th>{{ _('company') }}</th>
                        <th>{{ _('route') }}</th>
                        <th>{{ _('direction') }}</th>
                        <th class="not-mobile">{{ _('service_type') }}</th>
                        <th>{{ _('stop') }}</th>
                        <th class="not-mobile">{{ _('language') }}</th>
                        <th class="desktop">{{ _('action') }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.4.2/js/buttons.bootstrap5.min.js"></script>

<script src="{{ url_for('static', filename='scripts/datatable.js') }}"></script>
<script>
    let datatable = $('#eta-list').DataTable({
        responsive: true,
        processing: true,
        ajax: {
            url: "{{ url_for('api_bookmark.get_all') }}?i18n=true",
            dataSrc: "data.etas",
        },
        columns: [
            {
                data: null,
                render: function (data, type, row, meta) {
                    return meta.row + 1;
                }
            },
            { data: 'company' },
            { data: 'route' },
            { data: 'direction' },
            { data: 'service_type' },
            { data: 'stop_name' },
            { data: 'lang' },
            {
                data: null,
                render: function (data, type, row, meta) {
                    const up = meta.row > 0 ?
                        `
                            <button type="button" class="dt-action btn btn-outline-dark btn-sm h-100"
                                data-href-method="PUT"
                                data-href={{ url_for('api_bookmark.swap') }}
                                data-href-payload=${JSON.stringify({ src_id: meta.settings.json.data.etas[meta.row - 1].id, dest_id: row.id })}
                                style="height: 100%;">
                                <i class="bi bi-chevron-up"></i>
                            </button>
                        ` : ""
                    const down = meta.settings.json.data.etas.length != meta.row + 1 ? `
                        <button type="button" class="dt-action btn btn-outline-dark btn-sm"
                            data-href-method="PUT"
                            data-href={{ url_for('api_bookmark.swap') }}
                            data-href-payload=${JSON.stringify({ src_id: row.id, dest_id: meta.settings.json.data.etas[meta.row + 1].id })}
                            style="height: 100%;">
                            <i class="bi bi-chevron-down"></i>
                        </button>
                    ` : ""

                    return `
                        <button type="button" class="dt-action btn btn-danger btn-sm"
                            data-href-method="DELETE"
                            data-href=${"{{ url_for('api_bookmark.delete', id='p1') }}".replace("p1", row.id)}
                            title={{ _("delete") }}>
                            <i class="bi bi-trash"></i>
                        </button>
                        <button type="button" class="dt-action btn btn-success btn-sm"
                            data-href-method=""
                            data-href=${"{{ url_for('bookmark.edit', id='p1') }}".replace("p1", row.id)}
                            title={{ _("edit") }}>
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    `.concat(up, down);
                }
            }
        ],
        dom: `<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>
                <'row'<'col-sm-12'tr>>
                <'row'<'col-12'p>>`,
        buttons: [
            {
                text: "{{ _('create') }}",
                className: "btn btn-sm btn-success mx-1",
                action: function (e, dt, node, config) {
                    window.location.href = "{{ url_for('bookmark.create') }}";
                }
            },
            {
                text: "{{ _('export') }}",
                className: "btn btn-sm btn-info mx-1",
                action: function (e, dt, node, config) {
                    window.location.assign("{{ url_for('bookmark.export') }}")
                }
            },
            {
                text: "{{ _('import') }}",
                className: "btn btn-sm btn-secondary mx-1",
                action: function (e, dt, node, config) {
                    $('#file-import-form input')
                        .click()
                        .change((e) => $('#file-import-form').submit())

                }
            },
        ]
    });
</script>
{% endblock script %}