:root {
    --theme-color: #50C878;
    --theme-color-rgb: 80, 200, 120;
    --theme-2-color: #F0E68C;
    --theme-2-color-rgb: 240, 230, 140;
}

.bg-theme {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--theme-color-rgb), var(--bs-bg-opacity)) !important;
}

/* override */
.dropdown-item.active,
.dropdown-item:active {
    color: black;
    background-color: var(--theme-2-color);
}

/* ----- navigation ----- */

/* nav.navbar {
    background-color: var(--theme-color);
}

nav.navbar * {
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--secondary-color);
} */

#content {
    min-height: 100vh;
}

.form-group {
    margin: 10px 0px;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: alpha(opacity=50);
    z-index: 100;
}

/* ----- callout ----- */

.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-sm {
    padding: 0.35rem;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    font-size: small;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.callout-danger {
    border: 1px solid var(--bs-danger);
    border-left-width: .25rem;
}

.callout-success {
    border: 1px solid var(--bs-success);
    border-left-width: .25rem;
}