:root {
    --theme-color: #3F704D;
    --secondary-color: #F0E68C;
}

/* nav.navbar {
    background-color: var(--theme-color);
}

nav.navbar * {
    color: white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--secondary-color);
} */

#content {
    min-height: 100vh;
}

.form-group {
    margin: 10px 0px;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: alpha(opacity=50);
    z-index: 100;
}