{% macro render_field(field, placeholder = None, value = None) %}
<div class="form-group">
    {{ field.label }}

    {% if field.errors %}
    {{ field(class="form-control is-invalid", placeholder=placeholder or "", value=value or "") }}
    <div id="validationServerUsernameFeedback" class="invalid-feedback">
        {{ field.errors[0] }}
    </div>
    {% else %}
    {{ field(class="form-control", placeholder=placeholder or "", value=value or "") }}
    {% endif %}
</div>
{% endmacro %}