<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <span class="navbar-brand">
            E-paper Control
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Configuration
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for('configuration.bookmark_list') }}">
                                ETA
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('configuration.epaper_setting') }}">
                                E-Paper
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('configuration.api_server_setting') }}">
                                API Server
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('schedule.schedules') }}">Schedule</a>
                </li>
            </ul>
        </div>
    </div>
</nav>