{% extends "layout.jinja" %}
{% include "includes/navbar.jinja" %}

{% block content %}
<div class="container">

    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    E-Paper 設定
                </div>
                <div class="card-body">
                    <p class="fw-bold mb-2">
                        <i class="bi bi-building"></i> Brand
                    </p>
                    <hr class="m-1">
                    {{ aconf.confs.epd_brand | title }}

                    <p class="fw-bold mb-2 mt-3">
                        <i class="bi bi-building"></i> Model
                    </p>
                    <hr class="m-1">
                    {{ aconf.confs.epd_model | title }}

                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Display Image(s)
                </div>
                <div class="card-body">
                    <p class="card-text text-muted">
                        Current displaying image(s) to the E-paper screen.
                    </p>

                    {% for name, image in images.items() %}
                    <div class="col-md-3 col-12">
                        <div class="card" style="width: 18rem;">
                            <img class="m-2" src="data:image/bmp;base64, {{ image }}">

                            <hr style="margin: unset;">

                            <div class="card-body">
                                <span class="card-text">
                                    {{ name | title }}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% if images | length == 0%}
                    <p class="text-danger">
                        Not Available
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Refresh History
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">ETA Type</th>
                                <th scope="col">Layout</th>
                                <th scope="col">Is Partial</th>
                                <th scope="col">Error</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for log in refresh_logs[:5] %}
                            <tr class="{{ 'table-warning' if log.error else '' }}">
                                <td>{{ log.timestamp.strftime('%H:%M:%S') }}</td>
                                <td>{{ log.eta_type.value | title }}</td>
                                <td>{{ log.layout }}</td>
                                <td>{{ log.is_partial }}</td>
                                <td>{{ log.error }}</td>
                            </tr>
                            {% endfor %}
                            {% if refresh_logs | length == 0 %}
                                <tr>
                                    <td colspan="5" class="text-center">None</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}